################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlatformBase/v17/.suo
/.vs/PlatformBase/DesignTimeBuild/.dtbcache.v2
/.vs/PlatformBase/FileContentIndex/118509b1-57a9-47e3-bd14-fc17bbc2d819.vsidx
/.vs/PlatformBase/FileContentIndex/1f754c62-c3fe-4ff9-aa3b-de805aeabde1.vsidx
/.vs/PlatformBase/FileContentIndex/1f754c62-c3fe-4ff9-aa3b-de805aeabde1.vsidx
/.vs/PlatformBase/FileContentIndex/1f754c62-c3fe-4ff9-aa3b-de805aeabde1.vsidx
/.vs/PlatformBase/FileContentIndex/1f754c62-c3fe-4ff9-aa3b-de805aeabde1.vsidx
/.vs/PlatformBase/FileContentIndex/1f754c62-c3fe-4ff9-aa3b-de805aeabde1.vsidx
/.vs/PlatformBase/FileContentIndex/24cc0ea6-1c69-47f4-b7c8-2721735e6f5d.vsidx
/.vs/PlatformBase/FileContentIndex/3ba96edb-615b-4868-bf28-68b30fbf67f4.vsidx
/.vs/PlatformBase/v17/.futdcache.v2
/.vs/ProjectEvaluation/platformbase.metadata.v5.2
/.vs/ProjectEvaluation/platformbase.projects.v5.2
/.vs/PlatformBase/v17/.suo
